{% extends 'core/base.html' %}

{% block title %} Signup | {% endblock %}

{% block content%}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Signup</h1>
</div>

<form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="w-full mt-2 px-4 py-2 rounded-xl" required>

    <label for="pwd">Password:</label>
        <input type="password" id="password1" name="password1" class="w-full mt-2 px-4 py-2 rounded-xl" required>

    <label for="cfp">Confirm password:</label>
        <input type="password" id="password2" name="password2" class="w-full mt-2 px-4 py-2 rounded-xl" required>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


        <button type="submit" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Sign Up</button> 
</form>
{% endblock %}